footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202833;
    width: 100%;
    height: 60px;
}
footer > p {
    color: white;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}